/* #region common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

:root
{
    --rl-primary: #9792e4;
    --rl-secondary: #b5ddff;
    --rl-light: #ffffff;
    --rl-dark: #333333;
    --rl-icon: #0084fd;
    --rl-free: #fdc15f;
}

img
{
    max-width: 100%;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

p
{
    line-height: 2rem;
}

[class^="col_"]
{
    margin: 0.5rem 0;
}

h1
{
    font-size: 4rem;
}

h2
{
    font-size: 3rem;
}

h3
{
    font-size: 1.75rem;
}

p
{
    font-size: 1.25rem;
}

.btn > i
{
    margin-right: 0.5rem;
}

/* #endregion common */

/* #region utilities */

section
{
    padding: 3rem 0;
}

.odd
{
    background-color: var(--rl-light);
}

.even
{
    background-color: var(--rl-primary);
}

.container
{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.sm_container
{
    width: 70%;
    max-width: 1100px;
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.d-flex
{
    display: flex;
}

.col_12
{
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
}

.card
{
    border-radius: 3rem;
    margin: 0.5rem;
}

.btn
{
    padding: 0.5rem 4rem;
    border-radius: 2rem;
}

.btn:hover
{
    opacity: 0.5;
}

/* #endregion utilities */

/* #region Header */

#site_header
{
    background-color: var(--rl-icon);
    color: var(--rl-light);
    line-height: 1rem;
}

#site_header .menu
{
    justify-content: space-between;
    line-height: 4rem;
}

.logo img
{
    vertical-align: middle;
}

.navigation_desk
{
    display: none;
}

.navigation_desk .d-flex
{
    gap: 1rem;
}

.navigation_desk li:last-child > a
{
    background-color: var(--rl-light);
    color: var(--rl-dark);
    padding: 0.5rem 1rem;
}

#site_header .navigation_mt i
{
    color: var(--rl-light);
    vertical-align: middle;
}

/* #endregion Header */

/* #region Main */

/* #region demo */

.demo
{
    padding: 3rem 0;
}

.application .text_demo > .btn
{
    background-color: var(--rl-icon);
    color: var(--rl-light);
}

.card.card_demo
{
    text-align: center;
    background-color: var(--rl-secondary);
    padding: 3rem 2rem;
}

.demo .application
{
    text-align: start;
    padding-bottom: 0;
}

.demo .card_demo a > i
{
    color: var(--rl-light);
}

.demo .card_demo i
{
    color: var(--rl-icon);
    margin-bottom: 1rem;
}

.demo .card_demo h3
{
    color: var(--rl-icon);
    margin-top: 1rem;
}

.demo .card_demo p
{
    margin: 2rem 0;
    color: var(--rl-dark);
}

.demo .card_demo .img_demo
{
    margin-top: 2rem;
}

/* #endregion demo */

/* #region strategic */

.strategic
{
    color: var(--rl-light);
    padding: 3rem 0;
}

.strategic h2
{
    margin-top: 3rem;
}

.strategic .card
{
    background-color: var(--rl-light);
    color: var(--rl-dark);
    text-align: center;
    padding: 3rem 2rem;
}

.strategic p
{
    margin: 2rem 0;
}

.scroll i
{
    background-color: var(--rl-primary);
    padding: 0.5rem 1rem;
    border-radius: 50%;
}

/* #endregion strategic */

/* #region testimonials */

.heading_testimonials
{
    text-align: center;
}

.heading_testimonials > h2
{
    color: var(--rl-primary);
    margin: 2rem 0;
}

.partner .card
{
    text-align: center;
    background-color: var(--rl-primary);
    color: var(--rl-light);
    padding: 3rem 2rem;
    margin: 2rem 0;
}

.avatar img
{
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.partner p
{
    display: inline;
}

.partner .cit h3
{
    margin-top: 2rem;
}

/* #endregion testimonials */

/* #region benefits */

.benefits .container > h2
{
    text-align: center;
    color: var(--rl-light);
    padding: 2rem 0;
}

.benefits .card
{
    background-color: var(--rl-light);
    padding: 3rem 2rem;
}

.benefits .card h2,
.benefits .card h3
{
    color: var(--rl-primary);
    margin-bottom: 2rem;
}

.benefits .card p
{
    margin-bottom: 2rem;
}

.benefits .card a
{
    background-color: var(--rl-primary);
    color: var(--rl-light);
}

/* #endregion benefits */

/* #region about */

.about h2,
.about h3
{
    color: var(--rl-primary);
}

.about h3,
.about p
{
    margin: 2rem 0;
}


.avatar_about
{
    position: relative;
}

.avatar_about img
{
    max-width: 50%;
    border-radius: 50%;
}

.avatar_about > i
{
    position: absolute;
    top: 0;
    left: 40%;
    font-size: 4rem;
    color: var(--rl-primary);
}

.about a
{
    background-color: var(--rl-primary);
    color: var(--rl-light);
}

/* #endregion about */

/* #region call */

section.call
{
    margin-bottom: 0;
}

.call
{
    text-align: center;
    color: var(--rl-light);
}

.call .sm_container
{
    flex-direction: column;
    gap: 3rem;
}

.call h1
{
    color: var(--rl-free);
}

.call .sm_container > a
{
    background-color: var(--rl-light);
    color: var(--rl-primary);
    align-self: center;
}

#copyright
{
    font-size: 0.75rem;
}
#copyright > a
{
    text-decoration: underline;
}
/* #endregion call */

/* #endregion Main */

/* #region Footer */

#site_footer
{
    background-color: var(--rl-dark);
    color: var(--rl-light);
    text-align: center;
    padding: 2rem 0;
}

#site_footer .sm_container
{
    flex-direction: column;
    gap: 2rem;
}

#site_footer a
{
    text-decoration: underline;
}

/* #endregion Footer */

/* #region responsive */

@media screen and (min-width: 768px)
{
    .col_md_4
    {
        width: calc(100% / 12 * 4);
    }

    .col_md_5
    {
        width: calc(100% / 12 * 5);
    }

    .col_md_6
    {
        width: calc(100% / 12 * 6);
    }

    .col_md_7
    {
        width: calc(100% / 12 * 7);
    }

    .col_md_8
    {
        width: calc(100% / 12 * 8)
    }

    .card_demo
    {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .strategic h2
    {
        font-size: 3rem;
    }

    .partner .card
    {
        display: flex;
    }

    .partner img
    {
        margin-bottom: 0;
    }

    .partner .cit
    {
        align-self: center;
        margin-left: 2rem;
    }

    .avatar_about img
    {
        max-width: 100%;
    }

    .avatar_about > i
    {
        position: absolute;
        top: 0;
        left: 70%;
    }

}

@media screen and (min-width: 1200px)
{
    .sm_container
    {
        width: 50%;
    }

    .col_lg_4
    {
        width: calc(100% / 12 * 4);
    }

    .col_lg_6
    {
        width: 50%;
    }

    .col_lg_8
    {
        width: calc(100% / 12 * 8);
    }

    #site_header .navigation_desk
    {
        display: block;
    }

    #site_header .navigation_mt
    {
        display: none;
    }

    .demo .application
    {
        display: flex;
        flex-direction: row;
    }

    .strategic .row
    {
        flex-wrap: wrap;
    }

    .strategic h2
    {
        margin-top: 5rem;
    }

    .strategic .card
    {
        max-width: 80%;
    }

}

/* #endregion responsive */